<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/php/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="IMGVerse">
			<file>tests/php/test-class-imgv-normalizer.php</file>
			<file>tests/php/test-class-imgv-provider-openverse.php</file>
			<file>tests/php/test-provider-mappers.php</file>
		</testsuite>
	</testsuites>
</phpunit>
